body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0cbaba;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 2px solid #dee1e9;
  border-radius: 10%;
  height: 50px;
  width: 50px;
  padding: 3px;
  margin: 3px;
  color: #393e4c;
  text-align: center;
  display: inline-block;
  background-color: #fbfcff;
}

.row {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.input-area {
  margin: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
